* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  background-color: #ddd;
  overflow-y: hidden;
}
:root {
  --screen-split: 4px;
  --main-color: #3dbdee;
  --scrollbar-style: 20px;
  --scrollbar-style-thumb: 4px; 
}
.hn {
  background-color: rgb(129, 252, 191);
  border-radius: 4px;
  font-size: inherit;
}
.bd93f9-button {
  border: 1px solid var(--main-color);
  border-radius: 4px;
  color: var(--main-color);
  background-image: linear-gradient(to left, var(--main-color), var(--main-color));
  background-size: 0% 100%;
  background-repeat: no-repeat;
  transition: 0.3s linear;
  user-select: none;
  cursor: pointer;
  padding: 4px 20px;
  font-weight: 700;
}
.bd93f9-button:hover {
  background-image: linear-gradient(to left, var(--main-color), var(--main-color));
  background-size: 100% 100%;
  color: #fff;
  background-color: var(--main-color);
}


.scrollbar-style::-webkit-scrollbar {
  width: var(--scrollbar-style);
}
.scrollbar-style::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-clip: padding-box;
  border: calc((var(--scrollbar-style) - var(--scrollbar-style-thumb)) / 2) solid transparent;
}
.scrollbar-style::-webkit-scrollbar-thumb {        
  box-shadow: inset 0 0 0 var(--scrollbar-style-thumb);
}