* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  background-color: #ddd;
  overflow-y: hidden;
}
:root {
  --screen-split: 4px;
  --main-color: #3dbdee;
  --scrollbar-style: 20px;
  --scrollbar-style-thumb: 4px; 
}
.pv {
  border-radius: 4px;
  font-size: inherit;
  /* text-decoration: red wavy underline; */
  /* text-decoration-thickness: 1%;
  text-underline-position: auto;
  text-underline-offset: -1px; */
  background-image: url("./underline.png");
  background-position: 0 100%;
  background-size: contain;
  color: #e8665f;
  background-repeat: no-repeat;
}
.hn {
  position: relative;
  background-color: rgb(129, 252, 191);
  border-radius: 4px;
  font-size: inherit;
}
.hn .hn-child {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  padding: 2px 8px;
  border: 1px solid #000;
  background: #fff;
  width: max-content;
  z-index: 1;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  border-radius: 4px;
}
.hn:hover .hn-child {
  display: block;
}
.bd93f9-button {
  border: 1px solid var(--main-color);
  border-radius: 4px;
  color: var(--main-color);
  background-image: linear-gradient(to left, var(--main-color), var(--main-color));
  background-size: 0% 100%;
  background-repeat: no-repeat;
  transition: 0.3s linear;
  user-select: none;
  cursor: pointer;
  padding: 4px 20px;
  font-weight: 700;
}
.bd93f9-button:hover {
  background-image: linear-gradient(to left, var(--main-color), var(--main-color));
  background-size: 100% 100%;
  color: #fff;
  background-color: var(--main-color);
}


.scrollbar-style::-webkit-scrollbar {
  width: var(--scrollbar-style);
}
.scrollbar-style::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-clip: padding-box;
  border: calc((var(--scrollbar-style) - var(--scrollbar-style-thumb)) / 2) solid transparent;
}
.scrollbar-style::-webkit-scrollbar-thumb {        
  box-shadow: inset 0 0 0 var(--scrollbar-style-thumb);
}