#root {
  position: relative;
  display: flex;
  height: 100vh;
  padding: 0 2px;
}
#root > div:first-child,
#root > div:last-child {
  width: calc(50% - (var(--screen-split) / 2));
}
#root > div:first-child .input,
#root > div:last-child .result {
  margin: 8px 4px 0;
  height: calc(100% - 36px - 8px);
  position: relative;
  padding: 8px;
  outline: unset;
  user-select: none;
  border-radius: 8px;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  overflow-y: scroll;
}
#root .left .btn {
  padding: 4px 0;
  text-align: center;
  margin: 0 8px;
}
#root .left .btn .reset {
  float: right;
}
#root .right .result > * {
  outline: none;
}
#root .space {
  /* background-color: #fff; */
  /* background-color: rgb(75, 143, 245); */
  padding: 0 calc(var(--screen-split)/2);
  padding: 0;
}
#root .logo {
  position: absolute;
  right: 12px;
  bottom: 12px;
  z-index: 999;
}
#root .logo img {
  --logo-size: 40px;
  width: var(--logo-size);
  height: var(--logo-size);
}
